#ContenedorPrincipal{
    height: 2900px;
    width: 1800px auto;
    background: #eeebeb;
}

header{
    height: 200px;
    width: 100%;
    background: rgb(0,51,108);
    display: flex;
}

main{
    height: 2400px;
    width: 100%;
}

footer{
    height: 300px;
    width: 100%;
    background: rgb(0,51,108);
}

nav{
    width: 100%;
    height: 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Logo{
    height: 100%;
    width: 20%;
    margin-left: 15px;
    margin-top: 15px;
}

#Menu{
    height: 100%;
    width: 50%;
}

#Botones{
    height: 100%;
    width: 30%;
}

#ImgLogo{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.CabBoton{
    background-color: transparent;
    height: 50px;
    width: 30%;
    border: solid white 3px;
    margin-left: 10px;
    margin-top: 70px;
    color: white;
    transition: 0.5s ease;
}
.CabBoton:hover{
    border: solid black 3px;
}

#ListaMenu{
    display: flex;
    list-style: none;
}

.OpcMenu{
    margin-right: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    transition: 5ms ease;
}
.OpcMenu:hover{
    color: #dfbc31;
}

#Slider{
    height: 600px;
    width: 100%;
    background: green;
}

.d-block{
    width: 100%;
    height: 600px;
}

#Sedes{
    height: 1000px;
    width: 50%;
    margin-left: 450px;
}

.ClaseSedes{
    height: 30%;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.ImgParrafo{
    height: 100%;
    width: 45%;
    margin-left: 25px;
}

.ImgSede{
    width: 100%;
    height: 100%;
}

.Titulo{
    color: blue;
    font-family: Baskerville Old Face;
    font-size: 20px;
}

.SubTitulo{
    color: blue;
    font-family: Bradley Hand ITC;
    font-size: 50px;
}

.Parrafo{
    font-family: Bahnschrift SemiBold Condensed;
    font-size: 20px;
    text-align: justify;
}

#Galeria{
    height: 600px;
    width: 70%;
    margin-left: 280px;
}

.Fila{
    width: 100%;
    height: 45%;
    margin-top: 10px;
    display: flex;
}

.ImgGaleria{
    height: 100%;
    width: 23%;
    background: green;
    margin: 5px;
}

.ImagenFila{
    height: 100%;
    width: 100%;
}

#CargaMas{
    background: rgb(247, 245, 245);
    width: 180px;
    height: 50px;
    margin-left: 45%;
    margin-top: 30px;
    border: rgb(0, 0, 0) solid 1px;
}
#TextCargarMas{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri Light;
    font-size: 23px;
    margin-top: 5px;
}
#TextCargarMas:hover{
    color: #0a0fa7;
}
#fut{
    display: flex;
}
#Redes{
    
    margin-left: 90px;
    margin-top: 25px;
}
#Suscribete{
   
    margin-left: 10px;
    margin-top: 20px;
}
#Linea{
    background-color: white;
    height: 1px;
    width: 1600px;
    margin: auto;
}
#Politica{
    width: 430px;
    height: 150px;
    margin: auto;
    margin-left: 500px;
    margin-top: 25px;
}
.TextFinal{
    font-size: 19px;
    color: white;
    margin-left: 120px;
}
#Ruc{
    color: white;
    margin-left: 125px;
}
#Libro{
    position: absolute;
    margin-left: 1403px;
    margin-top: 135px;
}
nav ul li{
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
}
nav ul ul{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    padding: 0;
    color: blue;
}
nav ul ul li{
    float: none;
    width: 180px;
}
nav ul ul a{
    line-height: 120%;
    padding: 10px auto;
}
nav ul li:hover> ul{
    display: block;
}
nav ul{
    list-style: none;
}
